.container2{
    margin: 25px;
    column-count:3;
    column-gap:5px;

}

.container2,.box{
   padding: 15px;
   box-shadow: 0 5px 25px #d4d4d4;
   break-inside: avoid;
   width: 80%;
   margin-bottom: 10px;

   
  

}




img{
    width:100%;
}

a,.button{
    border: 1px solid black;
    text-decoration: none;
    background-color: black;
    color: white;
    
}

@media screen and (max-width:500px)
{
    .container2{
        margin: 0;
        column-count:1;
        column-gap:5px;
    
    }
    
    .container2,.box{
       padding: 5px;
       box-shadow: 0 5px 25px #d4d4d4;
       break-inside: avoid;
       width: 90%;
       margin-bottom: 10px;
       
      
    
    }
}