*{
    margin: 0;
    padding: 0;
    
}

.logo{
    font-size: 50px;
    margin: 30px;
    

}


nav ul{
    float:right;
    margin-right: 20px;
    
}
nav ul li{

display: inline-block;
margin:0 5px;
line-height:80px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    
}

nav{
    background-color: black;
    color: white;
    height: 80px;
    width: 100%;

}
a:hover{
    color: turquoise;

}


.container1{
    margin: 0;
    column-count:4;
    column-gap:5px;

}

.container1,.box{
   padding: 5px;
   box-shadow: 0 5px 25px #d4d4d4;
   break-inside: avoid;
   width: 90%;
   
  

}



.container2{
    margin: 25px;
    column-count:4;
    column-gap:5px;

}

.container2,.box{
   padding: 15px;
   box-shadow: 0 5px 25px #d4d4d4;
   break-inside: avoid;
   width: 80%;
   margin-bottom: 10px;

   
  

}




img{
    width:100%;
}

a,.button{
    border: 1px solid black;
    text-decoration: none;
    background-color: black;
    color: white;
    
}

h2{
    margin: 30px ;
    font-weight: 900;
}


@media screen and (max-width:500px)
{
    .logo{
        font-size:30px;
        margin: 20px;
    } 

    nav ul{
        float:right;
        margin-right:5px;
        
    }
    nav ul li{
    
    display: inline-block;
    margin:0 2px;
    line-height:40px;
    }
    
    nav ul li a{
        text-decoration: none;
        font-size: 8px;
        
    }
    
    nav{
        background-color: black;
         height: 40px;
        width: 100%;
    
    }

    .container1{
        margin: 0;
        column-count:2;
        column-gap:2.5px;
    
    }
    
    .container1,.box{
       padding: 2.5px;
       box-shadow: 0 5px 25px #d4d4d4;
       break-inside: avoid;
       width: 90%;
    }

       .container2{
        margin: 5px;
        column-count:2;
        column-gap:2.5px;
    
    }
    
    .container2,.box{
       padding: 7px;
       box-shadow: 0 5px 25px #d4d4d4;
       break-inside: avoid;
       width: 80%;
       margin-bottom: 5px;
    
       
      
    
    }
    
    
       
      
    
    }
}